.logout{
    margin-left:950px;
    font-weight: bolder;
    }
    
    .navbar{
        background-color:lightskyblue;
        color: black;
        font-family: 'Geneva';
    }
    .text{
        font-weight: bold;
    }