<app-navbar></app-navbar>
<div class=" b-o">
    <div class="text-center title">
<h3> View Player Details</h3>

    <div>
        <label> <b> Player Name: </b></label> {{Player.playerName}}
    </div>
    <div>
        <label> <b> Team Name: </b></label> {{Player.teamName}}
    </div>
    <div>
        <label> <b> Player Goals: </b></label> {{Player.playerGoals}}
    </div>
    <div>
        <label> <b> Player Role: </b></label> {{Player.playerRole}}
    </div>

    <div>
        <button  type="button" routerLink="/players-list" class="btn btn-success mt-2">Back</button>
    </div>
    
</div>
</div>