<app-navbar></app-navbar>
<div class="playerslistcontainer">


<div class="text-center">
<h1> Football Players.UI </h1>
</div>
<div class="outer b-o">
    <h2>Players-List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Player Name</th>
                <th> Team Name</th>
                <th> Player Goals</th>
                <th> Player Role</th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor= "let player of players">
                <td>{{ player.playerName}}</td>
                <td>{{ player.teamName}}</td>
                <td>{{ player.playerGoals}}</td>
                <td>{{ player.playerRole}}</td>
                <td>
                    <button (click) ="updatePlayer(player.id)" class="btn btn-info">Update</button>
                    <button (click) ="deletePlayer(player.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
                    <button (click) ="playerDetails(player.id)" class="btn btn-success" style="margin-left: 10px">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

